html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* loader */

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  fill: #c7c7c7;
}

/* signup page */
/* *********** */

/* phone picture and main frame */

.article-sign {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
  align-items: stretch;
  margin: 32px auto 0;
  max-width: 935px;
  padding-bottom: 32px;
  width: 100%;
}

.div-sign-phone {
  align-self: center;
  z-index: 1;
  background-image: url(./pictures/phone_signup_back.png);
  background-position: 0 0;
  background-size: 454px 618px;
  flex-basis: 454px;
  width: 454px;
  height: 618px;
  margin-left: -35px;
  margin-right: -15px;
}

.div-sign-form {
  /* color: rgba(var(--i1d, 38, 38, 38), 1); */
  align-items: stretch;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  position: relative;
  flex-grow: 1;
  justify-content: center;
  margin-top: 12px;
  max-width: 350px;
}

.div-sign-phone-top {
  margin: 99px 0 0 151px;
  position: relative;
}

.div-sign-photo-img {
  transition: opacity 1.5s ease-in;
  z-index: 2;
}

/* footer */

footer {
  padding-top: 32px;
  padding-left: 16px;
  padding-right: 16px;
}

.footer-div-main {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  align-items: stretch;
  justify-content: flex-start;
  flex: 0 0 auto;
  margin-bottom: 52px;
}

.footer-div-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: stretch;
}

.footer-div-top-placeholder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-items: stretch;
  align-content: stretch;
  vertical-align: baseline;
}

.footer-div-bottom-placeholder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-items: stretch;
  align-content: stretch;
  vertical-align: baseline;
}

.footer-div-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-items: stretch;
  margin-top: 12px;
  margin-bottom: 12px;
}

.footer-text {
  margin-right: 8px;
  margin-left: 8px;
  margin-bottom: 9px;
  margin-top: -2px;

  font-family: -apple-system, system-ui, "Segoe UI";
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: rgb(142, 142, 142);
  text-decoration: none;
}

/* footer main */

.footer-main {
  padding: 0;
}

.footer-ul {
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  align-content: stretch;
  width: 280px;
}

.footer-li {
  color: rgba(var(--edc, 199, 199, 199), 1);
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  text-transform: none;
  text-decoration: none;
  font-family: -apple-system, system-ui, "Segoe UI";
}

.footer-li::after {
  color: rgba(var(--edc, 199, 199, 199), 1);
  content: "\00B7";
  margin: 0 0.25em 0 0.25em;
}

.footer-li-item {
  color: rgba(var(--edc, 199, 199, 199), 1);
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  text-transform: none;
  text-decoration: none;
}

.footer-main-bottom {
  text-transform: uppercase;
  color: rgba(var(--edc, 199, 199, 199), 1);
  font-size: 11px;
  font-weight: 400;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row;
  align-items: stretch;
  margin-bottom: 12px;
  padding: 0;
}

/* signin/up forms */

.sign-mainfield {
  align-items: stretch;
  background-color: rgba(var(--d87, 255, 255, 255), 1);
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  border-radius: 1px;
  margin: 0 0 10px;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-content: stretch;
}

.sign-logo {
  margin: 22px auto 12px;
  background-repeat: no-repeat;
  background-position: 0 -130px;
  height: 51px;
  width: 175px;
  display: block;
  overflow: hidden;
  text-indent: 110%;
  white-space: nowrap;
  background-image: url(./pictures/insta_brand_images.png);
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.sign-or {
  margin: 10px 40px 18px;
  flex-direction: row;
  align-items: stretch;
  display: flex;
}

.sign-or-dash {
  flex-grow: 1;
  flex-shrink: 1;
  background-color: rgba(var(--b38, 219, 219, 219), 1);
  height: 1px;
  position: relative;
  top: 0.45em;
  align-items: stretch;
  display: flex;
  flex-direction: column;
}

.sign-or-text {
  color: rgba(var(--f52, 142, 142, 142), 1);
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 13px;
  font-weight: 600;
  line-height: 15px;
  margin: 0 18px;
  text-transform: uppercase;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}

.sign-loginFacebook {
  border: 0;
  color: rgba(var(--d69, 0, 149, 246), 1);
  display: inline;
  padding: 0;
  position: relative;
  appearance: none;
  background: 0 0;
  cursor: pointer;
  text-align: center;
  text-transform: inherit;
  text-overflow: ellipsis;
  user-select: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-indent: 0px;
  text-shadow: none;
  align-items: flex-start;
  font: 400 13.3333px Arial;
}

.sign-loginFacebook-logo {
  display: inline-block;
  margin-right: 8px;
  position: relative;
  top: 3px;
  background-repeat: no-repeat;
  background-position: -414px -259px;
  height: 16px;
  width: 16px;
  background-image: url(./pictures/insta_brand_images.png);
  text-align: center;
  text-transform: inherit;
}

.sign-loginFacebook-text {
  color: #385185;
  text-align: center;
  text-transform: inherit;
  font-weight: 600;
}

.sign-forgot-password {
  color: rgba(var(--fe0, 0, 55, 107), 1);
  font-size: 12px;
  line-height: 14px;
  margin-top: 25px;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}

.sign-redirect {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  align-items: center;
  background-color: rgba(var(--d87, 255, 255, 255), 1);
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  border-radius: 1px;
  margin: 0 0 10px;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

.sign-redirect-p {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font-size: 14px;
  margin: 15px;
  text-align: center;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.sign-redirect-a {
  text-decoration: none;
}

.sign-redirect-span {
  display: inline !important;
  margin: 0 !important;
  color: rgba(var(--d69, 0, 149, 246), 1);
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  cursor: pointer;
}

.sign-links-p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font-size: 14px;
  line-height: 18px;
  margin: 10px 20px 10px 20px;
  text-align: center;
}

.sign-links-div {
  flex-direction: row;
  justify-content: center;
  margin: 10px 0 10px 0;
  align-items: stretch;
  display: flex;
  flex-shrink: 0;
}

.sign-links-img {
  margin-right: 8px;
  height: 40px;
}

/* sign in form */

.sign-form {
  /* margin-top: 24px; */
  display: flex;
  flex-direction: column;
}

.sign-button-div {
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  display: flex;
  margin-top: 8px;
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 8px;
}

.sign-input-field {
  margin: 0 40px 6px;
  align-items: center;
  background: rgba(var(--b3f, 250, 250, 250), 1);
  border: 1px solid rgba(var(--ca6, 219, 219, 219), 1);
  border-radius: 3px;
  box-sizing: border-box;
  color: rgba(var(--i1d, 38, 38, 38), 1);
  display: flex;
  flex-direction: row;
  font-size: 14px;
  position: relative;
}

.sign-input-span {
  color: rgba(var(--f52, 142, 142, 142), 1);
  font-size: 12px;
  height: 36px;
  left: 8px;
  line-height: 36px;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  right: 0;
  text-overflow: ellipsis;
  transform-origin: left;
  transition: transform ease-out 0.1s, -webkit-transform ease-out 0.1s;
  user-select: none;
  white-space: nowrap;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}

.sign-input-span-onfulfil {
  transform: scale(0.83333) translateY(-10px);
}

.sign-input-form {
  font-size: 16px;
  background: rgba(var(--b3f, 250, 250, 250), 1);
  border: 0;
  flex: 1 0 auto;
  margin: 0;
  outline: 0;
  overflow: hidden;
  padding: 9px 0 7px 8px;
  text-overflow: ellipsis;
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  line-height: 18px;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
  cursor: text;
  font: 400 13.3333px Arial;
}

.sign-input-form-onfulfil {
  font-size: 12px;
  padding: 14px 0 2px 8px !important;
}

.sign-input-label {
  display: flex;
  height: 36px;
  -webkit-box-flex: 1;
  flex: 1 0 0;
  padding: 0;
  position: relative;
  margin: 0;
  min-width: 0;
  color: rgba(var(--i1d, 38, 38, 38), 1);
}

.sign-showpassw-button {
  margin-left: 8px;
  margin: 0em;
  border-width: 0;
  border-style: none;
  border-image: none;
  color: rgba(var(--f75, 38, 38, 38), 1);
  border: 0;
  display: inline;
  padding: 0;
  position: relative;
  background-color: transparent;
  appearance: none;
  background: 0 0;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: 600;
  text-align: center;
  text-transform: inherit;
  text-overflow: ellipsis;
  user-select: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-indent: 0px;
  text-shadow: none;
  align-items: flex-start;
}

.MuiIconButton-root:hover {
  background-color: initial !important;
}

.sign-password-enddiv {
  align-items: center;
  flex-direction: row;
  height: 100%;
  padding-right: 8px;
  vertical-align: middle;
  margin-left: 8px;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  display: flex;
  flex-direction: column;
  position: relative;
}

.sign-button-submit {
  background-color: rgba(var(--d69, 0, 149, 246), 0.3);
  opacity: 1;
  border: 1px solid transparent;
  border-radius: 4px;
  color: rgba(var(--eca, 255, 255, 255), 1);
  position: relative;
  cursor: pointer;
  display: block;
  font-weight: 600;
  padding: 5px 9px;
  text-align: center;
  text-transform: inherit;
  text-overflow: ellipsis;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  width: 100%;
}

.div-sign-form-seperate {
  justify-content: center;
  flex-direction: row;
  align-items: center;
  align-content: stretch;
  display: flex;

  margin-bottom: 44px;
}

.sign-up-text {
  color: rgba(var(--f52, 142, 142, 142), 1);
  font-size: 17px;
  font-weight: 600;
  line-height: 20px;
  margin: 0 40px 10px;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  /* margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px; */
  display: block;
}

.sign-up-termsp {
  color: rgba(var(--f52, 142, 142, 142), 1);
  font-size: 12px;
  line-height: 16px;
  margin: 10px 40px;
  text-align: center;
  display: block;
  /* margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}

.sign-up-logo {
  margin: 22px auto 12px;
}

.sign-up-terms {
  color: rgba(var(--f52, 142, 142, 142), 1);
  font-weight: 600;
  text-decoration: none;
}

.sign-up-loginFacebook {
  border: 1px solid transparent;
  background-color: #0095f6;
  margin: 10px 40px;
  border-radius: 4px;
  color: rgba(var(--eca, 255, 255, 255), 1);
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  font-weight: 600;
  padding: 5px 9px;
  text-align: center;
  text-transform: inherit;
  text-overflow: ellipsis;
  appearance: none;
  user-select: none;
  width: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-indent: 0px;
  text-shadow: none;
  align-items: flex-start;
}

.sign-up-loginFacebook-logo {
  text-align: center;
  text-transform: inherit;
  top: 2px;
  display: inline-block;
  margin-right: 8px;
  position: relative;
  background-position: -414px -300px;
  height: 16px;
  width: 16px;
  background-repeat: no-repeat;
  background-image: url(./pictures/insta_brand_images.png);
}

/* error */

.MuiAlert-root {
  margin: 0 40px 8px;
}

/* header */

.header-main {
  align-items: center;
  height: 54px;
  background-color: rgba(var(--d87, 255, 255, 255), 1);
  border-bottom: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  position: fixed;
  top: 0;
  transition: height 0.2s ease-in-out;
  width: 100%;
  z-index: 3;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
}

.header-main-container {
  height: 54px;
  padding: 0 20px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 975px;
  transition: height 0.2s ease-in-out;
  width: 100%;
  flex-shrink: 0;
  margin: 0;
  position: relative;
}

.header-logo-placeholder {
  flex: 1 9999 0%;
  min-width: 40px;
  align-items: stretch;
  border: 0 solid #000;
  display: flex;
  flex-direction: column;
}

.header-logo-a {
  color: rgba(var(--fe0, 0, 55, 107), 1);
  text-decoration: none;
}

.header-logo-div {
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  align-content: stretch;
  display: flex;
}

.header-search-placeholder {
  height: 28px;
  flex: 0 1 auto;
  min-width: 125px;
  width: 215px;
  align-items: stretch;
  display: flex;
  flex-direction: column;
}

.header-search-input {
  font-size: 16px;
  background: rgba(var(--b3f, 250, 250, 250), 1);

  border: solid 1px rgba(var(--b6a, 219, 219, 219), 1);
  border-radius: 3px;
  color: rgba(var(--f52, 142, 142, 142), 1);
  font-size: 14px;
  font-weight: 300;
  outline: 0;
  padding: 3px 10px 3px 10px;
  z-index: 2;
  box-sizing: border-box;

  height: 100%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  line-height: 18px;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  text-rendering: auto;
  background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
  cursor: text;
}

.header-search-button {
  background: rgba(var(--b3f, 250, 250, 250), 1);
  border: solid 1px rgba(var(--b6a, 219, 219, 219), 1);
  justify-content: center;

  border-radius: 3px;
  color: rgba(var(--f52, 142, 142, 142), 1);
  cursor: text;
  font-size: 14px;
  font-weight: 300;
  /* left: 0; */
  padding: 7px;
  position: absolute;
  text-align: center;
  /* top: 0; */
  z-index: 2;
  height: 28px;
  flex: 0 1 auto;
  min-width: 125px;
  width: 215px;
  /* height: 100%;
  width: 100%; */

  /* align-items: stretch;
  display: flex;
  flex-direction: column; */
}

.header-search-div {
  background: rgba(var(--b3f, 250, 250, 250), 1);
  border: solid 1px rgba(var(--b6a, 219, 219, 219), 1);
  justify-content: center;
  border-radius: 3px;
  color: rgba(var(--f52, 142, 142, 142), 1);
  cursor: text;
  font-size: 14px;
  font-weight: 300;
  left: 0;
  padding: 7px;
  position: absolute;
  text-align: center;
  top: 0;
  z-index: 2;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  align-items: stretch;
  display: flex;
  flex-direction: column;
}

.header-search-spanLogo {
  display: inline-block;
  margin-right: 6px;
  vertical-align: baseline;
  background-repeat: no-repeat;
  background-position: -399px -321px;
  height: 10px;
  width: 10px;
  background-image: url(./pictures/insta_brand_images.png);
  color: rgba(var(--f52, 142, 142, 142), 1);
  cursor: text;
}

.header-search-spanText {
  display: inline-block;
  max-width: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: bottom;
  white-space: nowrap;
  color: rgba(var(--f52, 142, 142, 142), 1);
  cursor: text;
  text-align: center;
}

/* nav */

.header-nav-placeholder {
  align-content: center;
  align-items: center;
  display: flex;
  flex: 1 0 0%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.header-nav-div {
  display: flex;
  flex-direction: row;
  padding-left: 24px;
  white-space: nowrap;
  align-items: stretch;
  box-sizing: border-box;
}

.header-nav-icon {
  margin-left: 22px;
}

.MuiButton-text {
  padding: 0 !important ;
}

.MuiButton-label {
  display: flow-root !important ;
}

.MuiButton-root {
  min-width: 22px !important;
}

.signout-button {
  width: 100%;
  font: inherit;
  appearance: button;
  text-rendering: auto;
  color: inherit;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: left;
  align-items: flex-start;
  cursor: pointer;
  background-color: inherit;
  margin: 0em;
  padding: 0;
  border-width: 0;
  border-style: none;
  border-color: inherit;
  border-image: initial;
}
.signout-button:hover {
  background-color: inherit;
}

.menudd-rhomb {
  bottom: 0;
  top: 10px;
  border: 1px solid rgba(var(--f23, 255, 255, 255), 1);
  background: rgba(var(--d87, 255, 255, 255), 1);
  box-shadow: 0 0 5px 1px rgba(var(--jb7, 0, 0, 0), 0.0975);
  height: 19px;
  position: absolute;
  transform: rotate(45deg);
  width: 19px;
  left: 184px;
}

/* mainfield */

.mainfield-wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-top: 94px;
  display: flex;
  max-width: 975px;
  /* justify-content: center; */
  align-items: center;
  flex-flow: column nowrap;
  padding: 0 20px;
}

/* sidebar */

.sidebar-wrapper {
  align-self: flex-end;
  width: auto;
  height: auto;
  position: fixed;
  display: flex;
  flex-flow: column nowrap;
  height: auto;
  margin-bottom: 10px;
  margin-top: 18px;
}

.sidebar-user-wrapper {
  margin-left: 12px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  flex-grow: 1;
}

.sidebar-user-avatar {
  flex-grow: 0;
}

.sidebar-user {
  display: flex;
  flex-flow: row nowrap;
}

.user-container {
  padding-bottom: 8px;
  padding-top: 8px;
}

.username-font {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
}

.follow-button {
  flex-grow: 0;
  appearance: button;
  text-rendering: auto;
  color: inherit;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  background-color: inherit;
  box-sizing: border-box;
  margin: 0em;
  padding: 0;

  appearance: none;
  background: 0 0;
  box-sizing: border-box;
  cursor: pointer;
  border: 0;
  text-align: center;
  text-transform: inherit;
  text-overflow: ellipsis;
  user-select: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: rgba(var(--d69, 0, 149, 246), 1);
  display: inline;
  padding: 0;
  position: relative;
  font-weight: 600;
  line-height: 14px;
  margin: -2px 0 -3px;
}

.name-font {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  color: rgba(var(--f52, 142, 142, 142), 1);
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.sidebar-suggestions-text {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  color: rgba(var(--f52, 142, 142, 142), 1);
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  margin: -3px 0 -4px;
  margin-top: 22px;
}

.sidebar-suggestions-users {
  padding-bottom: 8px;
  padding-top: 8px;
}

/* posts */

.posts-wrapper {
  margin-right: 28px;
  align-self: flex-start;
  height: auto;
  width: 616px;
}

.post-wrapper {
  padding: 0;
  margin-bottom: 60px;
  border-radius: 3px;
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  background-color: rgba(var(--d87, 255, 255, 255), 1);
  margin-left: -1px;
  margin-right: -1px;
  height: auto;
}

/* post */

.post-header {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 60px;
  padding: 16px;
  border-bottom: 1px solid rgba(var(--ce3, 239, 239, 239), 1);
}

.post-header-username {
  margin-left: 14px;
  flex-grow: 1;
  /* text-align: center; */
}

.post-img {
  object-fit: cover;
  max-width: 616px;
  max-height: 1200px;
  width: 100%;
  height: 100%;
}

.post-likes {
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 8px;
  color: rgba(var(--f75, 38, 38, 38), 1);
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.post-comments-wrapper {
  margin: 0 0 auto;
  padding: 0 16px;
  display: flex;
  flex-flow: column nowrap;
}

.post-comment-field {
  margin-bottom: 4px;
  display: flex;
  flex-flow: row wrap;
}

.post-comment-user {
  margin-right: 4px;
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font-weight: 600;
  /* overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 5px;
    margin-left: -5px; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.post-comment-text {
  overflow-wrap: break-word;
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.post-comments-add {
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 4px;
  border-top: 1px solid rgba(var(--ce3, 239, 239, 239), 1);
  font-size: 14px;
  line-height: 18px;
  min-height: 56px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.post-icons-svg {
  display: block;
  position: relative;
  fill: rgb(38, 38, 38);
  height: 24;
  width: 24;
  overflow: hidden;
  margin: 8px;
}

.post-icons-like {
  fill: rgb(237, 73, 86);
}

.post-icons-wrapper {
  padding-left: 8px;
  padding-right: 16px;
  margin-top: 4px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

button {
  appearance: button;
  text-rendering: auto;
  color: inherit;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: pointer;
  background-color: inherit;
  box-sizing: border-box;
  margin: 0em;
  font: inherit;
  padding: 0px;
  border: 0;
  border-color: inherit;
}

.post-comments-textarea {
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: textarea;
  background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
  -webkit-rtl-ordering: logical;
  flex-direction: column;
  resize: auto;
  cursor: text;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  margin: 0em;
  font: 400 13.3333px Arial;
  border-width: 1px;
  border-style: solid;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
  padding: 2px;
  height: 18px;
  background: 0 0;
  border: 0;
  color: rgba(var(--i1d, 38, 38, 38), 1);
  display: flex;
  flex-grow: 1;
  font-size: inherit;
  max-height: 80px;
  outline: 0;
  padding: 0;
  resize: none;
  width: 0;
}

.post-comments-form {
  display: flex;
}

/* user profile */

.profile-wrapper {
  padding: 30px 20px 0;
  width: calc(100% - 40px);
  margin: 0 auto 30px;
  max-width: 935px;
  margin-top: 54px;
  display: flex;
  flex-flow: column wrap;
}

.userprofile-wrapper {
  margin-bottom: 44px;
  display: flex;
  flex-flow: row;
}

.userprofile-avatar-wrapper {
  flex-grow: 1;
  margin-right: 30px;
  flex-basis: 0;
  display: flex;
  justify-content: center;
}

.userprofile-info-wrapper {
  display: flex;
  flex-flow: column;
  flex-basis: 30px;
  flex-grow: 2;
}

.userprofile-info-username {
  display: flex;
  flex-flow: row;
  margin-bottom: 20px;
}

.userprofile-info-username-text {
  font-weight: 300;
  font-size: 28px;
  line-height: 32px;
  margin: -5px 0 -6px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  color: rgba(var(--i1d, 38, 38, 38), 1);
}

.userprofile-editProfile-btn {
  margin-left: 20px;
  background-color: transparent;
  border: 1px solid rgba(var(--ca6, 219, 219, 219), 1);
  color: rgba(var(--f75, 38, 38, 38), 1);
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  padding: 5px 9px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.userprofile-settings-btn {
  margin-left: 13px;
}

.userprofile-info-subscribers {
  display: flex;
  flex-flow: row;
  margin-bottom: 20px;
}

.userprofile-info-text {
  margin-left: 0;
  font-size: 16px;
  margin-right: 40px;
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  line-height: 18px;
}

.userprofile-info-boldText {
  font-weight: 600;
}

.userprofile-info-name {
  display: flex;
  font-weight: 600;
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
}

.userpicture-actions-wrapper {
  border-top: 1px solid rgba(var(--b38, 219, 219, 219), 1);
  color: #8e8e8e;
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.userpicture-actions-a {
  display: flex;
  flex-flow: row;
  margin-right: 60px;
  text-decoration: none;
  height: 52px;
  align-items: center;
}

.userpicture-actions-text {
  margin-left: 6px;
  color: rgba(var(--f52, 142, 142, 142), 1);
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.userpicture-posts-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.userpicture-posts-img {
  object-fit: cover;
  height: 280px;
  width: 280px;
  cursor: pointer;
  margin-bottom: 28px;
  /* margin-right: 28px; */
}

.modal {
  background-color: rgba(0, 0, 0, 0.65);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-wrapper {
  width: 400px;
  animation: IGCoreModalShow 0.1s ease-out;
  justify-content: center;
  margin: 20px;
  max-height: calc(100% - 40px);
  background-color: rgba(var(--f23, 255, 255, 255), 1);
  border-radius: 12px;
  max-height: 100%;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.modal-text {
  text-align: center;
  vertical-align: middle;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding: 20px 0;
}

.modal-button {
  background-color: transparent;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-top: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  cursor: pointer;
  line-height: 1.5;
  margin: 0;
  min-height: 48px;
  padding: 4px 8px;
  text-align: center;
  user-select: none;
  vertical-align: middle;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 14px;
}

.modal-button-remove {
  color: red;
}

.userpicture-actions-last {
  margin-right: 0;
}

/* .dragdrop-wrapper-test {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

.dragdrop-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border-width: 4;
  border-radius: 2;
  border-color: linear-gradient(45deg, #fe6b8b 30%, #ff8e53 90%); */
  border-style: dashed;
  background-color: #fafafa;
  color: #bdbdbd;
  outline: none;
  transition: border 0.24s ease-in-out;
  height: 278px;
  width: 100%;
  /* color: #9600aa */
}

.dragdrop-input-wrapper {
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dragdrop-input-wrapper:hover {
  background-color: rgba(var(--d87, 255, 255, 255), 1);
  cursor: pointer;
}

.dragdrop-input-p {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}

/* picture */

.picture-wrapper {
  padding: 0;
  width: calc(100% - 40px);
  margin: 0 auto 30px;
  max-width: 935px;
  margin-top: 82px;
  display: flex;
  flex-flow: row;
  align-items: stretch;
  border-radius: 3px;
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  background-color: rgba(var(--d87, 255, 255, 255), 1);
}

.picture-img {
  width: 60%;
  object-fit: cover;
  /* margin-right: 10px; */
  /* margin-bottom: 28px; */
}

.picture-comments-wrapper {
  width: 100%;
  display: flex;
  flex-flow: column;
}

.picture-comments-header {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 60px;
  padding: 16px;
  border-bottom: 1px solid rgba(var(--ce3, 239, 239, 239), 1);
}

.picture-header-username {
  margin-left: 14px;
}

.picture-username-field {
  flex-grow: 0;
}

.picture-comments-field {
  flex-grow: 1;
  border-bottom: 1px solid rgba(var(--ce3, 239, 239, 239), 1);
  margin-top: 20px;
  margin-bottom: 20px;
}

.picture-likes-field {
  flex-grow: 0;
}

.picture-addcomments-field {
  flex-grow: 0;
}

/* explore */

.explore-wrapper {
  padding: 30px 20px 0;
  width: calc(100% - 40px);
  margin: 0 auto 30px;
  max-width: 935px;
  margin-top: 54px;
  display: flex;
  justify-content: center;
  flex-flow: column;
}

.explore-users-wrapper {
  display: flex;
  flex-flow: column;
}

.explore-carousel-wrapper {
  margin: 0 20px;
}

.explore-users-text {
  color: #999;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  /* margin-left: 20px; */
  margin-bottom: 30px;
  text-align: left;
  text-transform: capitalize;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}

.explore-posts-wrapper {
  /* margin-left: 20px; */
}

/* carousel */

.carousel-wrapper {
  /* margin-right: 30px; */
  padding: 20px 0px 20px 0;
  height: 100%;
  width: 100%;
  display: flex !important;
  justify-content: center;
}

.carousel-user-wrapper {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 176px;
  height: 198px;
  padding: 16px;
  padding-bottom: 32px;
  border-radius: 3px;
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  background-color: rgba(var(--d87, 255, 255, 255), 1);
}

.carousel-user-avatar {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

.slick-arrow {
  color: black !important;
}

.slick-prev {
  color: black !important;
}

.slick-prev:before {
  color: black !important;
}
.slick-next:before {
  color: black !important;
}

/* image inputs */

.image-input {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.image-input-label {
  padding-top: 10px;
}
